[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomlkit = "==0.10.0"
packaging = "==21.3"
requests = "==2.27.1"

[dev-packages]
black = "==22.1.0"
flake8 = "==4.0.1"
flake8-unused-arguments = "==0.0.9"
isort = "==5.10.1"
mypy = "==0.941"
vulture = "==2.3"
pytest = "==7.1.1"
types-requests = "==2.27.14"
types-setuptools = "==57.4.11"

[requires]
python_version = "3.7"
